import random
import string

# -------- Password Strength Checker --------
def check_password_strength(password):
    strength = 0

    if len(password) >= 8:
        strength += 1
    if any(char.islower() for char in password):
        strength += 1
    if any(char.isupper() for char in password):
        strength += 1
    if any(char.isdigit() for char in password):
        strength += 1
    if any(char in string.punctuation for char in password):
        strength += 1

    if strength == 5:
        return "Very Strong 💪"
    elif strength >= 3:
        return "Strong 👍"
    elif strength == 2:
        return "Medium 🙂"
    else:
        return "Weak ❌"


# -------- Auto Password Generator --------
def generate_password(length=10):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(characters) for i in range(length))
    return password


# -------- Main Program --------
print("1. Check Password Strength")
print("2. Generate Strong Password")

choice = input("Enter your choice (1/2): ")

if choice == "1":
    user_password = input("Enter your password: ")
    result = check_password_strength(user_password)
    print("Password Strength:", result)

elif choice == "2":
    length = int(input("Enter desired password length: "))
    new_password = generate_password(length)
    print("Generated Password:", new_password)

else:
    print("Invalid choice!")
